@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Аутентифицирован - @User.Identity!.IsAuthenticated</p>
    <p>Админ - @User.IsInRole(AppRoles.ADMIN)</p>
</div>
